/* Global */
* {
    padding: 0;
    margin: 0;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Nunito', sans-serif;
    scroll-snap-type: y mandatory;
}

#background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(12, 42, 68, .65), rgba(12, 42, 68, .8)), url("../assets/img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -20;
}

/* Nav bar */
#open-close {
    display: none;
    position: absolute;
    z-index: +20;
    top: 10px;
    right: 10px;
    font-size: 40;
    color: #FFF;
    cursor: pointer;
}

nav#nav-bar {
    position: fixed;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    background: none;
    scroll-snap-align: start;
}

nav#nav-bar span {
    display: inline-block;
}

nav#nav-bar span a {
    display: block;
    font-size: 22px;
    padding: 10px;
    text-decoration: none;
    font-weight: 700;
    color: #FFF;
    transition: .2s ease-in-out;
    border-bottom: 3px solid rgba(255, 255, 255, 0);
}

nav#nav-bar span a.current {
    border-bottom: solid #1057c9 3px;
}

nav#nav-bar span a:hover {
    border-bottom: 3px solid #1057c9;
}

/* Body */
#body {
    height: calc(200% - 103px);
}

#body .scroll {
    width: 100%;
    height: 50%;
    scroll-snap-align: start;
}

#body #intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#body #introduction {
    width: 70%;
    height: 70%;
    background-color: #FFF;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#body #introduction #img {
    height: 90%;
    width: 30%;
    background: #000;
    overflow: hidden;
    display: flex;
    justify-content: center;
}


#body #introduction p {
    display: inline-block;
    width: 60%;
    font-size: 24px;
    font-weight: 300;
}

#body #team {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

#body #team .namecard {
    width: 20%;
    height: 70%;
    background: #FFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

#body #team .namecard img {
    width: 80%;
    margin: 10%;
}

#body #team .namecard .name {
    font-size: 25px;
    margin-bottom: 20px;
}

/* Footer */
#footer {
    position: fixed;
    bottom: 0;
    border-top: 2px solid #fff;
    height: 48px;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 5%;
    background: none;
}

#footer span {
    color: #FFF;
    font-size: 20px;
    padding: 15px 0;
    display: inline-block;
}

#footer a {
    text-decoration: none;
    color: #FFF;
    transition: .2s ease-in-out;
}

#footer a:hover {
    text-decoration: none;
    color: #1057c9;
}

@media screen and (max-width: 1200px) {
    #body #intro #introduction {
        width: 90%;
    }

    #body #team .namecard {
        width: 30%;
    }
}

@media screen and (max-width: 900px) {
    html, body {
        scroll-snap-type: none;
    }

    #bg {
        height: 120%;
    }

    #open-close {
        display: inline-block;
        position: fixed;
    }

    nav#nav-bar {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        transform: translateX(-100%);
        padding: 0;
        margin: 0;
        z-index: +10;
        background-color: rgba(12, 42, 68, .0);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s;
    }

    nav#nav-bar.active {
        display: flex;
        top: 0;
        right: 0;
        transform: translateX(0);
        background-color: rgba(12, 42, 68, .95);
    }

    #body {
        height: calc(400% - 40px);
    }

    #body .scroll {
        scroll-snap-type: none;
    }

    #body #intro {
        flex-direction: column;
        height: auto;
        height: 25%;
    }

    #body #intro #introduction {
        height: auto;
    }

    #body #intro #introduction #img {
        display: none;
    }

    #body #intro #introduction p {
        width: 80%;
        margin: 10% 0;
        font-size: 16px;
    }

    #body #team {
        flex-direction: column;
        justify-content: space-evenly;
        height: 75%;
    }

    #body #team .namecard {
        scroll-snap-align: center;
        width: 70%;
        height: calc(50% / 3);
    }
}